<template>
  <md-app md-mode="reveal">
    <md-app-toolbar class="md-primary">
      <span class="app-title">{{ appTitle }}</span>
    </md-app-toolbar>

    <md-app-drawer md-permanent="card">
      <RecipeList/>
      <md-button class="md-fab md-primary" @click="addRecipe()">
        <md-icon>add</md-icon>
      </md-button>
    </md-app-drawer>

    <md-app-content>
      <Recipe/>
    </md-app-content>
  </md-app>
</template>

<style lang="scss" scoped>
  .md-app {
    height: 100vh;
  }

  .md-fab {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }

  .md-app-drawer {
    width: 40%;
    max-width: calc(100vw - 125px);
    overflow: hidden;
  }
</style>


<script>
  import RecipeList from '~/components/RecipeList.vue'
  import Recipe from '~/components/Recipe.vue'

import { mapActions } from 'vuex'

  export default {
    components: { RecipeList, Recipe },
    data: () => Object.assign({
      appTitle: process.env.APP_TITLE
    }),
    methods: mapActions(['addRecipe']),
  }
</script>
