<template>
  <div class="no-recipe" v-if="!recipe">
    <h1>Select a recipe</h1>
  </div>
  <div class="recipe" v-else>
    <h1>{{recipe.name}}</h1>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: mapGetters({
    recipe: 'fetchSelectedRecipe'
  }),
  created() {
    this.$store.dispatch('readRecipe')
  }
}
</script>

