<template>
  <div class="recipe-list">
    <md-content :md-ripple="false" class="recipe-list-title">Recipees</md-content>
    <md-list class="overflow-container">
      <md-list-item v-for="recipe of recipes" :key=recipe.id @click="readRecipe(recipe.id)">
        <span :md-ripple="true" class="md-list-item-text">{{ recipe.name }}</span>
      </md-list-item>
    </md-list>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    computed: mapGetters({
      recipes: 'fetchRecipes'
    }),
    created() {
      this.$store.dispatch('checkoutRecipes')
    },
    methods: mapActions(['readRecipe'])
  }
</script>

<style lang="scss" scoped>
  $list-width: 320px;
  $title-height: 48px;

  .list {
    width: $list-width;
  }

  .recipe-list-title {
    width: 100%;
    height: $title-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
  }

  .overflow-container {
    height: calc(100% - #{$title-height});
    width: 100%;
    position: absolute;
    vertical-align: top;
    overflow-y: auto;
    padding: 0;
  }

  .md-list-item:hover {
    background-color: aqua;
  }

  .control {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
</style>
